#tweets-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.tweet {
  margin: 20px 2em;
  overflow: auto;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid;
  border-color: #eee;
}

.tweet.tweet-hover {
  border-color: black;
}

.tweet header {
  padding: 10px;
  position: relative;
  overflow: auto;
}

.tweet img {
  width: 50px;
  height: 50px;
  float: left;
}

.tweet h2 {
  float: left;
  text-align: left;
  margin: 0px;
  padding-left: 10px;
}

.tweet.tweet-hover h2 {
  color: black;
}

.tweet .handle {
  float: right;
  color: lightslategrey;
}

.tweet.tweet-hover .handle {
  color: black;
}

.tweet .tweet-content {
  padding: 25px 15px;
  background-color: white;
  text-align: left;
}

.tweet footer {
  height: 40px;
  padding: 10px;
  background-color: white;
  overflow: auto;
  border-top: 1px solid;
  border-color: #eee;
}

.tweet .tweet-time {
  float: left;
  font-size: smaller;
}

.tweet .social {
  float: right;
  display: none;
}

.tweet.tweet-hover .social {
  display: block;
}

.tweet .social a {
  top: 0px;
  margin-left: 10px;
  color: #00a087;
}

.tweet .social a:hover {
  color: #03d2b1;
}

.tweet .social i {
  color: #00a087;
}

.tweet .social i:hover {
  color: #03d2b1;
}

.tweet
